DMAnaliseSentimento/.vs/
DMAnaliseSentimento/DMAnaliseSentimento.Web.API/bin
DMAnaliseSentimento/DMAnaliseSentimento.Web.API/obj
DMAnaliseSentimento/DMAnaliseSentimentoML.Model/bin
DMAnaliseSentimento/DMAnaliseSentimentoML.Model/obj
